.item {
	display: none;
}

.load-comments-btn {
	display: none;
}

li {
	list-style-type: none
}

.starsposition {
	margin-left: 40px;
}

.stars {
	display: inline;
	color: #FDDE51; 
	text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
}

.username {
	display: inline;
}

ul {
	margin-left: 0;
	padding-left: 0;
}

.viewcommentinpage {
	margin-right: 100px;
}